[safe]
   directory = /opt/homebrew               # Homebrew安装目录
   directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core/   # Homebrew核心库目录
   directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask/   # Homebrew Cask库目录
   directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services/  # Homebrew Services库目录
   directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services  # Homebrew Services库目录（重复项）
   directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask      # Homebrew Cask库目录（重复项）
   directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core      # Homebrew核心库目录（重复项）

[init]
   defaultBranch = main          # 默认分支设置为main

[user]
   name = huayue                # Git用户名
   email = 369230782@qq.com     # Git用户邮箱

[diff]
   tool = difftastic            # 默认的diff工具设置为difftastic
   external = difft             # 使用外部工具difft作为Git的diff工具

[difftool]
   prompt = false               # 使用difftool时不显示提示

[difftool "difftastic"]
   cmd = difft "$LOCAL" "$REMOTE"  # 使用difft工具的命令

[pager]
   difftool = true              # 在分页器中使用difftool

# `git dft` is less to type than `git difftool`.
[alias]
   dft = difftool               # 创建别名`dft`来替代`difftool`
   dlog = "!f() { : git log ; GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"  # 创建别名`dlog`来显示与difft工具相比的git log
